faiss-cpu
gradio
ipykernel
langchain
langchain-community
langchain-core
langchain-google-genai
langgraph
langgraph-checkpoint
langsmith
numpy
pandas
pydantic
pydantic_core
pypdf
pyprojroot
PyYAML
SQLAlchemy
python-dotenv